form{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
div{
    
    display: block;
    flex-direction: column-reverse;
}
.form{
    display: flex;
}
body{
    font-family: 'poppins',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}
form{
    background: var(--color-darkblue-alpha);
    background-color: darkblue;
}